<!DOCTYPE html>

<!-- About Me Page -->
<!-- <div class="container"> -->
    <div class="row row-content">
        <div class="col-xs-12 col-sm-offset-2 col-sm-6" style="text-align: justify">
          <h1>Hey there!</h1>
          <p>My name is Michelle and I have created this website in order to share a bit of myself with the world.</p>
          <p>In the past I was a chemist, but I have since had a change of heart and decided I wanted to become a programmer.
             That is why you will find my old chemistry projects along with my programming projects.</p>

          <p>I'm often asked why I chose to 'quit' chemistry to pursue web development.</p>

          <p>I don't see it as quitting because I was at a point where I had the choice of going to graduate school or entering the work force and I decided that working would be better for my future as I had already spent 8 years getting a bachelors degree. So what should I do for work? Well, employment opportunities are abysmal for chemistry and great for software engineering and web development. As it turns out, I happen to have a lifelong familiarity with computers. As young as 11 years old I was building my first gaming pc, creating simple geocities websites, using all kinds of software and using google to troubleshoot various Windows problems and viruses. I can't imagine my life without a computer nearby, so it isn't a big leap to become a developer.</p>

          <p>Given my background in science and my nack for computers, I figured that I would make a great computer scientist or software engineer.</p>
          <p>I am excited to see what the future holds for me!</p>
        </div>
    </div>
<!-- </div> -->
