<!DOCTYPE html>

<!-- About Me Page -->
<!-- <div class="container"> -->
    <div class="row row-content">
        <div class="col-xs-12 col-sm-offset-2 col-sm-6">
        <h1>Hey there!</h1>
        <p>My name is Michelle and I have created this website in order to share a bit of myself with the world.</p>
        <p>Currently, I am taking courses at my local university, The University of Central Florida (UCF), as part of their coding bootamp, the UCF Coding Bootcamp.
           In the past I was a chemist, but I have since had a change of heart and decided I wanted to become a programmer.
           That is why you will find my old chemistry projects along with my programming projects.</p>
        <p>However, not all my projects are STEM related! I have some creative writings that I have done as well as a bit of music
           that I have composed.</p>
        <p>Make sure to stay tuned as I am always adding new content!</p>
        </div>
    </div>
<!-- </div> -->
