<!DOCTYPE html>
<!-- Chemistry Page -->

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Research Assistant
                <small>University of Central Florida, Chemistry</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="/static/assets/img/chemistry/mof.png" style="height: 500px; width: 750px" alt="Gift Buddy">
        </div>

        <div class="col-md-4">
            <h3>Metal-Organic Frameworks</h3>
            <p style="text-align: justify;">My final independent research project was in an inorganic laboratory, researching the photocatalytic properties of metal-organic crystal frameworks, called MOFs. I determined how effecient these materials are at absorbing light and catalyzing a reaction. Working in the lab was very fun as I frequently got to use liguid nitrogen and a blow torch, often simultaneously!</p>
            <h3 style="padding-top: 5px">Project Details</h3>
            <ul style="text-align: justify;">
                <li>Took on my own project of a limited scope to be included as part of a larger study</li>
                <li>Monthly presentations and one final seminar to my peers and professors</li>
                <li>Variety of laboratory skills and chemical prepration techniques</li>
                <li>Passed on my skills and expertise to a newcomer taking over and continuing the work I did</li>

            </ul>


            <a href="/static/extras/MAHURR.pdf">Research Report</a> |
            <a href="/static/extras/MAHSeminar.pptx">Seminar Presentation</a> |
            <a href="http://pubs.rsc.org/en/content/articlelanding/2016/cy/c6cy00054a#!divAbstract">Publication</a>

        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8 pull-right">
            <img class="img-responsive" src="/static/assets/img/chemistry/goldnp.jpg" style="height: 500px; width: 750px" alt="Gift Buddy">
        </div>

        <div class="col-md-4">
            <h3>Gold Nanoparticles on Polymer Surfaces</h3>
            <p style="text-align: justify;">My first time working in a chemistry research laboratory. I followed a graduate student for a semester to learn the necessary laboratory skills to perform repeat experiments of an older project that was being rejected by peer review.</p>
            <h3 style="padding-top: 5px;">Project Details</h3>
            <ul style="text-align: justify;">
                <li>Applied for and recieved a $1000 stipend to perform research for a summer</li>
                <li>Variety of laboratory skills and chemical preparation techniques</li>
                <li>Discovered that the instrument (which uses x-rays) was throwing off the results of said analysis</li>
                <li>First publication with me as co-author!</li>
            </ul>

            <a href="/static/extras/GoldNanoParticles.pdf" class="projectLinks">View Publication</a>

        </div>

    </div>
    <!-- /.row -->
