<!DOCTYPE html>
<!-- Chemistry Page -->

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Chemitry Research
                <small>University of Central Florida, Research Assistant</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="/static/assets/img/chemistry/mof.png" style="height: 500px; width: 750px" alt="Gift Buddy">
        </div>

        <div class="col-md-4">
            <h3>Metal-Organic Frameworks</h3>
            <p style="text-align: justify;">Details coming soon</p>
            <h3>Project Details</h3>
            <ul>
                <li>Soon</li>
                <li>Soon</li>
                <li>Soon</li>
            </ul>


            <a href="https://s3.amazonaws.com/michellesnirvana.com/MAHURR.pdf">Research Report</a> |
            <a href="https://s3.amazonaws.com/michellesnirvana.com/MAHSeminar.pptx">Seminar Presentation</a> |
            <a href="http://pubs.rsc.org/en/content/articlelanding/2016/cy/c6cy00054a#!divAbstract">Publication</a>

        </div>

    </div>
    <!-- /.row -->

    <hr>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8 pull-right">
            <img class="img-responsive" src="/static/assets/img/chemistry/goldnp.jpg" style="height: 500px; width: 750px" alt="Gift Buddy">
        </div>

        <div class="col-md-4" style="text-align: justify;">
            <h3>Deposition of Gold Nanoparticles on Polymer Surfaces</h3>
            <p>Details coming soon</p>
            <h3>Project Details</h3>
            <ul>
                <li>Soon</li>
                <li>Soon</li>
                <li>Soon</li>
            </ul>

            <a href="https://s3.amazonaws.com/michellesnirvana.com/GoldNanoParticles.pdf" class="projectLinks">View Publication</a>

        </div>

    </div>
    <!-- /.row -->
