<!DOCTYPE html>
<!-- Chemistry Page -->
<!-- <div class="container"> -->
    <div class="row row-content">
        <div class="col-xs-12">
            <h1>Chemistry Projects</h1>
            <p>I'll have more infor here later. For now, just take a look at the links!</p>
            <div class="row software-box well">
                <div class="col-sm-2">
                    <p>2014-2015</p>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <p>Second research group I joined working with Metal-Organic Frameworks.</p>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <p>
                        <a href="extras/MAHURR.pdf">Final Research Report</a> |
                        <a href="extras/MAHSeminar.pptx">Seminar Power Point</a>
                    </p>     
                </div>
            </div>
            <div class="row software-box well">
                <div class="col-sm-2">
                    <p>2012</p>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <p>This is a poster I made during my first semester of research.</p>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <p>
                        <a href="extras/chemposter.jpg">Functionalization of gold nanoparticles</a>
                    </p>     
                </div>
            </div>




        </div>
    </div>
<!-- </div> -->
