<!-- Welcome page -->
<!-- <div class="container"> -->
    <div class="row row-content">
        <div class="col-xs-12 col-sm-offset-2 col-sm-6">
        <h1>Welcome!</h1>
        <p>This website is intended to serve as a portfolio of sorts for my professional and creative projects.
            My hopes are to attrack like minded professionals, or even hobbiests, who would love to collaborate with me.
        </p>
        <p>I have a lot to add! Be sure to checkout my <a href="https://github.com/MichelleHettinger">github</a>!</p>
        <p class="sr-only">Firstly, I would like to direct you to my resumes.
            For a look into my background in chemistry, please download my resume <a href="extras/chemresume.pdf">here</a>.
            Developers will want to look <a href="extras/softwareresume.pdf">here</a>.
        </p>
        </div>
    </div>
<!-- </div> -->

