<!-- Welcome page -->
<!-- <div class="container"> -->
    <div class="row row-content">
        <div class="col-xs-12 col-sm-offset-2 col-sm-6" style="text-align: justify">
            <h1>Welcome!</h1>
            <p>This website is intended to serve as a portfolio of sorts for my professional and creative projects.
                My hopes are to attrack like minded professionals, or even hobbiests, who would love to collaborate with me.
            </p>

            <p>I have a passion for all things intellectual, but especially chemistry, mathematics, biology, physics, astronomy and most recently, web development and computer science. Since January of 2016, I have been studying and training to become a Web Developer and have really been enjoying myself. My favorite language to learn thus far has been JavaScript. Other technologies and languages that I am skilled with include: HTML, CSS, JQuery, Twitter Bootstrap, Materialize, REST, ChartJS, MomentJS, NodeJS and NPM (inquirer, request, express, handlebars), MySQL, MongoDB.</p>

            <p>I am well on my way to becoming a full time web developer as I continue to expand upon coding knowledge base. Having gone through the rigors of studying a hard science at the university level has boosted not only my problem solving and critical thinking abilities, but my ability to learn and adapt quickly to new material and foreign concepts. As just a chemistry student at UCF, I had become co-author of two peer-reviewed and published journal articles. So I have a habit for adapting quickly and succeeding.</p>

            </p>
        </div>
    </div>
<!-- </div> -->

