<!-- Welcome page -->
<!-- <div class="container"> -->
    <div class="row row-content" style="padding-top:0;">
        <div class="col-xs-12 col-sm-8" style="text-align: justify;">
            <h1 style="margin-top: 10px">Michelle Hettinger</h1>
            <p>Michelle Hettinger graduated from the University of Central Florida in May 2015 with a B.S. Chemistry. During her time at UCF, she collaborated with two independent researchers and was recognized for her contributions on two peer reviewed journal articles. You can read more about her time as a chemist <a href="/chemistry">here</a>.
            </p>

            <p>She recieved her Certificate of Full Stack Web Development from the UCF Coding Bootcamp in December of 2016. During her time at the bootcamp, she built many applications and worked in teams to develop new applications in an agile manner. The technologies and languages that she's learned include: HTML, CSS, Bootstrap, jQuery, Node.js (express, express-handlebars), JSONWebToken, cookies, MySQL, NoSQL (Firebase and MongoDB), RESTful API, React, React-Native.</p>

            <p>Michelle is currently freelancing and working on her own side projects while searching for the best tech companies to be apart of.</p>

        </div>

        <div class="col-xs-12 col-sm-4 socialLinks">
            <h1 style="margin-left: 25px;margin-top: 10px;">Connect with Me</h1>
            <br>
            <a href="https://github.com/MichelleHettinger" style="margin-left: 44px"><img src="static/assets/img/socialicons/githubicon.png" height="70" alt="Github Icon"></a>
            <a id="middleicon" href="https://www.linkedin.com/in/michellehettinger" style="padding-left: 10px; padding-right: 10px;"><img src="static/assets/img/socialicons/linkdinicon.png" height="70" alt="Linkdin Icon"></a>
            <a href="http://stackoverflow.com/users/6506524/michelle-hettinger"><img src="static/assets/img/socialicons/stackoverflowicon.png" height="70" alt="Stack Overflow Icon"></a>
        </div>


    </div>
<!-- </div> -->

