<!-- Welcome page -->
<!-- <div class="container"> -->
    <div class="row row-content" style="padding-top:0;padding-bottom:0; font-family:'Aria', Helvetica, sans-serif; font-size:17px">
        <div id="introBody" class="col-sm-8 col-xs-12" style="text-align: justify;">
            <h1 style="margin-top: 10px">Michelle Hettinger</h1>
            <p>Michelle Hettinger graduated from the University of Central Florida in May 2015 with a B.S. Chemistry. During her time at UCF, she collaborated with two independent researchers and was recognized for her contributions on two peer reviewed journal articles. You can read more about her time as a chemist <a href="/chemistry">here</a>.
            </p>

            <p>She recieved her Certificate of Full Stack Web Development from the UCF Coding Bootcamp in December of 2016. During her time at the bootcamp, she built many applications and worked in teams to develop new applications in an agile manner. You can view her many applications that she's been involved with <a href="/webApps">here</a>.
            </p>
        </div>

        <div id="socialLinks" class="col-sm-4 col-xs-12" style="margin-bottom:20px;">


            <h2 style="text-align:center">Connect with Me</h2>
            <div class="row center-block">
              <div class="col-xs-3 col-xs-offset-1">
                <a href="https://github.com/MichelleHettinger"/>
                  <img src="static/assets/img/socialicons/githubicon.png" alt="Github Icon"
                  style="width:100%;max-width:100px" class="img-responsive" />
                </a>
              </div>
              <div class="col-xs-3">
                <a id="middleicon" href="https://www.linkedin.com/in/michellehettinger"/>
                  <img src="static/assets/img/socialicons/linkdinicon.png" alt="Linkdin Icon"
                  style="width:100%;max-width:100px"/>
                </a>
              </div>
              <div class="col-xs-3">
                <a href="http://stackoverflow.com/users/6506524/michelle-hettinger"/>
                  <img src="static/assets/img/socialicons/stackoverflowicon.png" alt="Stack Overflow Icon"
                  style="width:100%;max-width:100px"/>
                </a>
              </div>
            </div>


        </div>


    </div>
<!-- </div> -->

