<!DOCTYPE html>
<!-- Music Page -->
<!-- <div class="container"> -->
    <div class="row row-content">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h1>Thinking of You</h1>
            <p>This is the first song I made, back in about 2009. I am still good friends with the person who inspired me to make this.</p>
            
            <iframe width="100%" height="350" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/91300851&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
            </iframe>
        </div>
        
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h1>Konokol Jam</h1>
            <p>This song was inspired by the great John McLaughlin, the famous jazz-fusion guitarist who collaborated with a group of Indian classical tabla players.
                The system for counting rhythm in India is called Konokol, where instead of counting the beats they use syllables for rythmic groupins.</p>
            
            <iframe width="100%" height="350" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/91301047&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
            </iframe>
        </div>
        
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <p>Summertime</p>
            <p>This is my rendition of the first Jazz song I learned. I love making long, intricate solos!</p>
            
            <iframe width="100%" height="350" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/38372903&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
            </iframe>
        </div>
        
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <h1>Goin' Crazy</h1>
            <p>This is the first album I made, back before I knew anything about music.
               All I had was a keyboard with random synth sounds, an accoustic guitar and freeware.
               It's kinda weird, but short and to the point.</p>

            <iframe width="100%" height="350" scrolling="no" frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/187441009&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
            </iframe> 
        </div>
    </div>
<!-- </div> -->
