<!DOCTYPE html>
<!-- Software Page -->
<!-- <div class="container"> -->

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Portfolio Item
                <small>Item Subheading</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="/static/assets/img/software/software5.png" alt="" style="width: 750px; height: 500px;">
        </div>

        <div class="col-md-4">
            <h3>Eat-da-Burger</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <h3>Project Details</h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="/software1">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="" style="width: 500px; height: 300px;">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="/software2">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="" style="width: 500px; height: 300px;">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="/software3">
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/software3.png" alt="" style="width: 500px; height: 300px;">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="/software4">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="" style="width: 500px; height: 300px;">
            </a>
        </div>

    </div>
    <!-- /.row -->

    <hr>

<!-- </div> -->




<!-- The content that i need to fill in -->

<!-- <div class="row row-content">
    <div class="col-xs-12">
        <h1>Web Development Projects</h1>
        <div class="row software-box well">
            <div class="col-sm-2">
                <p class="software-date">Summer/Fall 2016</p>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <p>I decided to combine my chemistry skills with my web development skills and build and intuitive molecular weight calculator. When you load up the page, just start typing on the kyboard (don't click on 'Search'). Typing a c will bring up all elements starting with c, etc.</p>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <p>
                    <a href="https://infinite-spire-91599.herokuapp.com/">Molec. Wt. Calculator</a>
                </p>     
            </div>
        </div>
        <div class="row software-box well">
            <div class="col-sm-2">
                <p class="software-date">August 2016</p>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <p>Group Project. We worked in teams. I learned materalize and ChartJS. We also began learning node</p>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <p>
                    <a href="extras/DangerZone/index.html">Danger Zone</a>
                    <a href="extras/Node-and-API/index.html">Node with API</a>
                </p>     
            </div>
        </div>

        <div class="row software-box well">
            <div class="col-sm-2">
                <p class="software-date">July 2016</p>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <p>July was all about JavScript. We built an rpg style battle game that uses jquery to manipulate dom elements. Then we learned how to use timer's in JS and built a trivia game that gives the user 45 seconds to answer each question and tallies up their score. Next we began learning how to make API calls and built an app that makes a link out of keywords and searches the GIPHY API to find gifs. To end the month we learned how to store data to the local browser storage and use MomentJS to calculate and display times with the Train Tracker app. Fill in the information about your next train and everytime you open the website the data is loaded and tells you when your next train will arrive!</p>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <p>
                    <a href="extras/Star-Wars-RPG/index.html">Star Wars Battle</a>
                    | <a href="extras/Jazz-Trivia-Game/index.html">Jazz Trivia</a> |
                    <a href="extras/Fun-with-Giphy-API-/index.html">Fun With GIPHY API</a> |
                    <a href="extras/Train-Tracker/index.html">Train Tracker</a>                             
                </p>     
            </div>
        </div>


        <div class="row software-box well">
            <div class="col-sm-2">
                <p class="software-date">June 2016</p>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <p>First project for the UCF Coding Bootcamp was to create a simple profile using HTML and CSS. We were given a few images of the webpage to build ourselves from scratch. The following week we learned how to use Twitter Bootstrap and made a responsive version of our basic portfolio. Towards the end of the month we started learning JavaScript and were tasked with building a hangman game with JavaScript to run the games components and update the web page dynamically.</p>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <p>
                    <a href="extras/Basic-Portfolio/index.html">Basic Portfolio</a>
                    | <a href="extras/Bootstrap-Portfolio/index.html">Bootstrap Version</a> |
                    <a href="extras/80-s-Hangman-Game/index.html">80's Hangman</a>
                </p>     
            </div>
        </div>
        <div class="row software-box well">
            <div class="col-sm-2">
                <p class="software-date">January 2016</p>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <p>I first started learning JavaScript in Janurary of 2016 through online www.coursera.com. I first began learning HTML and bootstrap to make a fake restaurant page. Then I learned a bit of JavaScript and was able to make a few simple games.</p>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <p>
                    <a href="extras/colorgame.html">Color Game</a>
                    | <a href="extras/smileygame.html">Smiley Game</a> |
                    <a href="extras/confusionCurrent/index.html">conFusion</a>
                </p>     
            </div>
        </div>
    </div>
</div> -->


