<!DOCTYPE html>
<!-- Software Page -->
<div class="container" id="myApp1">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Gift Buddy
                <small>Backend Developer</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="/static/assets/img/software/giftbuddy.png" style="height: 500px" alt="Gift Buddy">
        </div>

        <div class="col-md-4" style="text-align: justify;">
            <h3>Gift Buddy</h3>
            <p>Gift Buddy was created to fulfill the secret santa niche. Once you and your circle of friends sign up you will be able to create groups that randomize and anonymously assign each user a unique buddy in the group to gift. This is your Gift Buddy! Only you can see your Gift Buddy's wish list and address. Once you've gifted them, you may then send a notification and brief message wishing them well!</p>
            <h3>Project Details</h3>
            <ul>
                <li>Node.js, Express and Handlebars to handle routing and serve out views.</li>
                <li>Custom ORM to perform post, get and update queries from MySQL database (JAWSDB on Heroku).</li>
                <li>User authentication and user sessions with the use of JSONWebToken and Cookies respectively</li>
            </ul>

            <a href="https://bootcamp-giftbuddy.herokuapp.com/" class="projectLinks">View Site</a> | <a href="https://github.com/hedbladucf/GiftBuddy">Github</a>

        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="2" data-active='1'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/mwtcalc.png" alt="Molecular Weight Calculator">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="3" data-active='1'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/dangerzone.png" alt="Danger Zone">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="4" data-active='1'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/eatburger.png" alt="Eat-da-Burger">
            </div>

        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="5" data-active='1'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/bamazon.png" alt="Bamazon">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="6" data-active='1'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/liri.png" alt="LIRI">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="7" data-active='1'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/jazztrivia.png" alt="Jazz Trivia">
            </div>
        </div>

    </div>
    <!-- /.row -->

    <hr>
</div>

<div class="container sr-only" id="myApp2">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Molecular Weight Calculator
                <small>Full Stack Developer</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="/static/assets/img/software/mwtcalc.png" alt="Molecular Weight Calculator" style="width: 750px; height: 500px;">
        </div>

        <div class="col-md-4" style="text-align: justify;">
            <h3>Molecular Weight Calculator</h3>
            <p>This app is a personal project that an old friend and PhD student told me he wanted to have. A mobile app where he can quickly calculate the molecular weights of certain chemicals without having to run to a computer. Surprisingly, nothing like this really exists. Right now there is a web app version available and working. The mobile app is well in progress and you can view my progress via Github. I plan on integrating a user account where chemical formulas can be saved and retrieved.</p>
            <h3>Project Details</h3>
            <ul>
                <li>React for web app</li>
                <li>React-native for mobile</li>
                <li>User authentication and NoSQL database with Firebase</li>
            </ul>

            <a href="https://molecular-weight-calculator.herokuapp.com/" class="projectLinks">View Site</a> | <a href="https://github.com/MichelleHettinger/Molecular-Weight-Calculator">Web App Github</a> | <a href="https://github.com/MichelleHettinger/MobileMolecularWeight">Mobile App Github</a>

        </div>
    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="1" data-active='2'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/giftbuddy.png" alt="Gift Buddy">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="3" data-active='2'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/dangerzone.png" alt="Danger Zone">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="4" data-active='2'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/eatburger.png" alt="Eat-da-Burger">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="5" data-active='2'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/bamazon.png" alt="Bamazon">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="6" data-active='2'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/liri.png" alt="LIRI">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="7" data-active='2'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/jazztrivia.png" alt="Jazz Trivia">
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>
</div>

<div class="container sr-only" id="myApp3">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Danger Zone
                <small>Frontend Developer</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="/static/assets/img/software/dangerzone.png" alt="Danger Zone" style="width: 750px; height: 500px;">
        </div>

        <div class="col-md-4" style="text-align: justify;">
            <h3>Danger Zone</h3>
            <p>Danger Zone is designed to alert travelers of potential disease outbreaks waiting for them at their desired destination. Traveler inputs a destination and selects a disease from the dropdown menu to pull graphical information on the outbreaks in the country.</p>
            <h3>Project Details</h3>
            <ul>
                <li>UI Design with Materialize</li>
                <li>ChartJS to dynamically graph data retrieved by the World Health Organization API</li>
                <li>Currently requires CORS browser extension</li>
            </ul>

            <a href="http://frozen-earth-51098.herokuapp.com/" class="projectLinks">View Site</a> | <a href="https://github.com/thomaszhang718/DangerZone">App Github</a>

        </div>
    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="1" data-active='3'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/giftbuddy.png" alt="Gift Buddy">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="2" data-active='3'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/mwtcalc.png" alt="Molecular Weight Calculator">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="4" data-active='3'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/eatburger.png" alt="Eat-da-Burger">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="5" data-active='3'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/bamazon.png" alt="Bamazon">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="6" data-active='3'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/liri.png" alt="LIRI">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="7" data-active='3'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/jazztrivia.png" alt="Jazz Trivia">
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>
</div>

<div class="container sr-only" id="myApp4">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Eat-da-Burger
                <small>Fullstack Developer</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="/static/assets/img/software/eatburger.png" alt="Eat-da-Burger" style="width: 750px; height: 500px;">
        </div>

        <div class="col-md-4" style="text-align: justify;">
            <h3>Eat-da-Burger</h3>
            <p>A silly app utilizing an MVC with custom ORM to deliver an app where the users can create and eat their own burgers!</p>
            <h3>Project Details</h3>
            <ul>
                <li>Node.js with Express JS and Handlebars to handle routing and render the views</li>
                <li>MySQL database to create, read and update user input</li>
                <li>UI design with Bootstrap</li>
            </ul>

            <a href="https://obscure-lowlands-65174.herokuapp.com/burgers" class="projectLinks">View Site</a> | <a href="https://github.com/MichelleHettinger/Eat-Da-Burger">App Github</a>

        </div>
    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="1" data-active='4'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/giftbuddy.png" alt="Gift Buddy">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="2" data-active='4'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/mwtcalc.png" alt="Molecular Weight Calculator">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="3" data-active='4'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/dangerzone.png" alt="Danger Zone">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="5" data-active='4'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/bamazon.png" alt="Bamazon">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="6" data-active='4'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/liri.png" alt="LIRI">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="7" data-active='4'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/jazztrivia.png" alt="Jazz Trivia">
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>
</div>

<div class="container sr-only" id="myApp5">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Bamazon
                <small>Backend Developer</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="/static/assets/img/software/bamazon.png" alt="Bamazon" style="width: 750px; height: 500px;">
        </div>

        <div class="col-md-4" style="text-align: justify;">
            <h3>Bamazon</h3>
            <p>Bamazon is a command line node app that simulates purchasing of items from a database</h3>
            <ul>
                <li>Node.js with Inqurirer to grab user input</li>
                <li>MySQL database</li>
            </ul>

            <a href="https://github.com/MichelleHettinger/Bamazon" class="projectLinks">App Github</a>

        </div>
    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="1" data-active='5'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/giftbuddy.png" alt="Gift Buddy">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="2" data-active='5'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/mwtcalc.png" alt="Molecular Weight Calculator">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="3" data-active='5'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/dangerzone.png" alt="Danger Zone">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="4" data-active='5'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/eatburger.png" alt="Eat-da-Burger">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="6" data-active='5'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/liri.png" alt="LIRI">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="7" data-active='5'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/jazztrivia.png" alt="Jazz Trivia">
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>
</div>

<div class="container sr-only" id="myApp6">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">LIRI
                <small>Backend Developer</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="/static/assets/img/software/liri.png" alt="LIRI" style="width: 750px; height: 500px;">
        </div>

        <div class="col-md-4" style="text-align: justify;">
            <h3>LIRI</h3>
            <p>LIRI is a command line node app that returns tweets, song information and movie information depending on the command</p>
            <h3>Project Details</h3>
            <ul>
                <li>Node.js modules to make API calls</li>
                <li>Get information on music, movies and twitter feed</li>
                <li>App logs user commands</li>

            </ul>

            <a href="https://github.com/MichelleHettinger/Node-and-API" class="projectLinks">App Github</a>
            
        </div>
    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="1" data-active='6'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/giftbuddy.png" alt="Gift Buddy">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="2" data-active='6'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/mwtcalc.png" alt="Molecular Weight Calculator">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="3" data-active='6'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/dangerzone.png" alt="Danger Zone">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="5" data-active='6'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/eatburger.png" alt="Eat-da-Burger">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="5" data-active='6'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/bamazon.png" alt="Bamazon">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="7" data-active='6'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/jazztrivia.png" alt="Jazz Trivia">
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>
</div>

<div class="container sr-only" id="myApp7">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Jazz Trivia
                <small>Frontend Developer</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="/static/assets/img/software/jazztrivia.png" alt="Jazz Trivia" style="width: 750px; height: 500px;">
        </div>

        <div class="col-md-4" style="text-align: justify;">
            <h3>Jazz Trivia</h3>
            <p>Think you know jazz? Test your knowledge with this timed 10 question quiz! After each question guessed, you will be able to see the correct answer along with a silly gif based on whether or not you guessed correct.</p>
            <h3>Project Details</h3>
            <ul>
                <li>JavaScript for handling timed events</li>
                <li>JQuery for handling DOM manipulation</li>
                <li>Sleek and minimal UI design with Bootstrap</li>
            </ul>

            <a href="https://jazz-trivia.herokuapp.com/" class="projectLinks">View Site</a> | <a href="https://github.com/MichelleHettinger/Jazz-Trivia-Game">App Github</a>

        </div>
    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Related Projects</h3>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="1" data-active='7'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/giftbuddy.png" alt="Gift Buddy">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="2" data-active='7'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/mwtcalc.png" alt="Molecular Weight Calculator">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="3" data-active='7'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/dangerzone.png" alt="Danger Zone">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="4" data-active='7'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/eatburger.png" alt="Eat-da-Burger">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="5" data-active='7'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/bamazon.png" alt="Bamazon">
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="appThumbnail" data-app="6" data-active='7'>
                <img class="img-responsive portfolio-item" src="/static/assets/img/software/liri.png" alt="LIRI">
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>
</div>