/*User screen is greater than 1200px*/
@media only screen and (min-width: 1171px){
    #myCarousel{
        height: 50%;
    }
    .carouselIntro{
        margin-top:10px;
    }
    .carouselContact{
        margin-top: 15px;
    }
    .carouselSocial{
        margin-left: 70px;
    }
}
/*Device is less than or equal too*/
@media screen and (max-width: 1170px){
    #myCarousel{
        height: 55%;
    }
    .carouselIntro{
        margin-top: 15px;
    }
    .carouselSocial{
        margin-left: 58px;
    }
    .carouselTechnologies{
        margin-top: 10px;
    }
    .carouselContact{
        margin-top: 30px;
    }
}
 
/*Device is less than or equal too*/
@media screen and (max-width: 1121px){
    #myCarousel{
        height: 60%;
    }
    .carouselIntro{
        margin-top: 20px;
    }
    .carouselSocial{
        margin-left: 50px;
    }
    .carouselTechnologies{
        margin-top: 10px;
    }
    .carouselContact{
        margin-top: 40px;
    }
}
@media screen and (max-width: 1113px){
    .carouselSocial{
        margin-left: 40px;
    }
    .carouselTechnologies{
        margin-top: 10px;
    }
    .carouselContact{
        margin-top: 40px;
    }
}
@media screen and (max-width: 982px){
    .carouselIntro{
        margin-top: 5px;
    }
    .carouselSocial{
        margin-left: 40px;
    }
    .carouselContact{
        margin-top: 30px;
    }
}
@media screen and (max-width: 979px){
    .carouselSocial{
        margin-left: 30px;
    }
}
@media screen and (max-width: 979px){
    .carouselIntro{
        margin-top: 10px;
    }
    .carouselSocial{
        margin-left: 25px;
    }
}
@media screen and (max-width: 930px){
    .carouselIntro{
        margin-top: 20px;
    }
    .carouselSocial{
        margin-left: 20px;
    }
}
@media screen and (max-width: 913px){
    .carouselSocial{
        margin-left: 15px;
    }
}
@media screen and (max-width: 896px){
    .carouselSocial{
        margin-left: 5px;
    }
}
@media screen and (max-width: 863px){
    .carouselSocial{
        margin-left: 0px;
    }
    .carouselTechnologies{
        margin-top: 0px;
    }
}
@media screen and (max-width: 846px){
    .carouselSocial{
        margin-left: 15px;
    }
}
@media screen and (max-width: 796px){
    #myCarousel{
        height: 63%;
    }
    .carouselIntro{
        margin-top: 30px;
    }
    .carouselTechnologies{
        margin-top: 0px;
    }
    .carouselContact{
        margin-top: 30px;
    }
    .carouselSocial{
        margin-left: 0px;
    }
}
@media screen and (max-width: 767px){
    #myCarousel{
        height: 63%;
    }
    .carouselIntro{
        margin-top: 30px;
    }
    .carouselTechnologies{
        margin-top: 15px;
    }
    .carouselContact{
        margin-top: 35px;
    }
    .carouselSocial{
        margin-left: 0px;
    }
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
li a:hover{
    cursor: pointer;
}
a:hover{
    color:black;
}
h3 {
    margin-top: 0;
}

hr {
    padding-top: 20px;

}

.appThumbnail:hover{
    cursor: pointer;

    position: relative;
    right: 20px;

    width: 200%;
}


#face{
    height: 108px;

    position: relative;
    bottom: 370px;
    left: 125px;
    z-index: 900;
}


.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}



address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    
    padding:50px 0px 0px 0px;
    z-index:0;
}

.list-group-item{
    color:black;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.list-group-item li{
    border: none;
}

#MNlogo img{
    width: 100%;
}

.navbar-inverse {
     background: #28326d;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a{
    color: #e8e3e3;
}

.carousel-caption{
    top: 20px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.affix {
    top:100px;
}
.carousel {
    background:white;
}
.carousel .item {
  height: 300px;
}
/*.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}*/

.projectLinks{
    margin-left: 20px;
}